# agentforum==0.0.7
google-search-results==2.4.2
html2text==2020.1.16  # TODO Oleksandr: this one is GPL - try markdownify or Pandoc instead
httpx==0.26.0
langchain==0.1.4  # TODO Oleksandr: remove this dependency ?
langchainhub==0.1.14  # TODO Oleksandr: remove this dependency ?
numexpr==2.9.0  # TODO Oleksandr: remove this dependency ?
numpy==1.26.3
openai==1.10.0
pdfplumber==0.10.3  # TODO Oleksandr: remove this dependency ?
promptlayer==0.4.4
pypdf==4.0.1
pytest==7.4.4  # TODO Oleksandr: upgrade to 8.x.x when breaking changes are reconciled
pytest-asyncio==0.23.4
python-dotenv==1.0.1
tiktoken==0.5.2
