# agentforum==0.0.7
google-search-results==2.4.2
html2text==2020.1.16  # TODO Oleksandr: this one is GPL - try markdownify or Pandoc instead
httpx==0.26.0
langchain==0.1.1  # TODO Oleksandr: remove this dependency ?
langchainhub==0.1.14  # TODO Oleksandr: remove this dependency ?
numexpr==2.8.8
numpy==1.26.3
openai==1.9.0
pdfplumber==0.10.3  # TODO Oleksandr: remove this dependency ?
promptlayer==0.4.2
pypdf==4.0.0
pytest==7.4.4
pytest-asyncio==0.23.3
python-dotenv==1.0.0
tiktoken==0.5.2
